    <div class="row">
      <div class="col s12 m12 s12">
        <div class="card-panel blue lighten-2">
          <div style="margin-top:50px; margin-bottom:50px;"><center><span class="white-text"><h4>온라인에서 시작하는 입시, 스튜핏(STU-FIT)!
          </h4></span></center>
          </div>
        </div>
        <div class="card-panel blue lighten-4" style="margin-top:50px;">
          <center><span class="white-text blue-grey-text text-darken-3"><h4>만든이들
          </h4></span></center>
        </div>
        <div class="row">
          <div class="col s4 m4 l4">
            <h5 class="white-text blue-grey-text text-darken-3" style="margin-top:80px; text-align:center;">
              김소정</h5><br>
            <p style="text-align:center;">sojeong921030@gmail.com</p>
          </div>
          <div class="col s4 m4 l4">
            <h5 class="white-text blue-grey-text text-darken-3" style="margin-top:80px; text-align:center;">
              신동헌</h5><br>
            <p style="text-align:center;">136shin@gmail.com</p>
          </div>
          <div class="col s4 m4 l4">
            <h5 class="white-text blue-grey-text text-darken-3" style="margin-top:80px; text-align:center;">
              김지혜</h5><br>
            <p style="text-align:center;">ekfsla0202@gmail.com</p>
          </div>
        </div>
        <!--다음 열-->
        <div class="row">
          <div class="col s4 m4 l4">
            <h5 class="white-text blue-grey-text text-darken-3" style="margin-top:80px; text-align:center;">
              강나영</h5><br>
            <p style="text-align:center;">nayoung0066@gmail.com</p>
          </div>
          <div class="col s4 m4 l4">
            <h5 class="white-text blue-grey-text text-darken-3" style="margin-top:80px; text-align:center;">
              노수지</h5><br>
            <p style="text-align:center;">thensj6873@gmail.com</p>
          </div>
          <div class="col s4 m4 l4">
            <h5 class="white-text blue-grey-text text-darken-3" style="margin-top:80px; text-align:center;">
              공희재</h5><br>
            <p style="text-align:center;">heejaykong@gmail.com</p>
          </div>
        </div>
      </div>
    </div>