<h1><%= @hash_tag.name %></h1>

<h4>해시 관련 활동</h4>
<%# @hash_tag.activities.where(user: current_user).each do |activity| %>
  <%#= link_to "#{activity.title}", activity_path(activity) %>
<%# end %>
<hr>
<h4>해시 관련 행사정보</h4>
<% @hash_tag.events.each do |event| %>
  <%= link_to "#{event.title}", event_path(event) %>
<% end %>

