
<!--chart dashboard start-->
<div id="chart-dashboard">
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="card">
                <div class="card-move-up waves-effect waves-block waves-light">
                    <div class="move-up cyan darken-1">
                        <div>
                            <span class="chart-title white-text">Revenue</span>
                            <div class="chart-revenue cyan darken-2 white-text">
                                <p class="chart-revenue-total">$4,500.85</p>
                                <p class="chart-revenue-per"><i class="mdi-navigation-arrow-drop-up"></i> 21.80 %</p>
                            </div>
                            <div class="switch chart-revenue-switch right">
                                <label class="cyan-text text-lighten-5">
                                  Month
                                  <input type="checkbox">
                                  <span class="lever"></span> Year
                                </label>
                            </div>
                        </div>
                        <div class="trending-line-chart-wrapper">
                            <canvas id="trending-line-chart" height="144" width="621" style="width: 552px; height: 128px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                    <div class="col s12 m3 l3">
                        <div id="doughnut-chart-wrapper">
                            <canvas id="doughnut-chart" height="90" width="135" style="width: 120px; height: 80px;"></canvas>
                            <div class="doughnut-chart-status">4500
                                <p class="ultra-small center-align">Sold</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m2 l2">
                        <ul class="doughnut-chart-legend">
                            <li class="mobile ultra-small"><span class="legend-color"></span>Mobile</li>
                            <li class="kitchen ultra-small"><span class="legend-color"></span> Kitchen</li>
                            <li class="home ultra-small"><span class="legend-color"></span> Home</li>
                        </ul>
                    </div>
                    <div class="col s12 m5 l6">
                        <div class="trending-bar-chart-wrapper">
                            <canvas id="trending-bar-chart" height="87" width="292" style="width: 260px; height: 78px;"></canvas>        
                        </div>
                    </div>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Revenue by Month <i class="mdi-navigation-close right"></i></span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="id">ID</th>
                                <th data-field="month">Month</th>
                                <th data-field="item-sold">Item Sold</th>
                                <th data-field="item-price">Item Price</th>
                                <th data-field="total-profit">Total Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>January</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>February</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>March</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>April</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>May</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>June</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>July</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>August</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Septmber</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Octomber</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>November</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>December</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-move-up teal waves-effect waves-block waves-light">
                    <div class="move-up">
                        <p class="margin white-text">Browser Stats</p>
                        <canvas id="trending-radar-chart" height="121" width="320" style="width: 285px; height: 108px;"></canvas>
                    </div>
                </div>
                <div class="card-content  teal darken-2">
                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                    <div class="line-chart-wrapper">
                        <p class="margin white-text">Revenue by country</p>
                        <canvas id="line-chart" height="109" width="288" style="width: 256px; height: 97px;"></canvas>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Revenue by country <i class="mdi-navigation-close right"></i></span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="country-name">Country Name</th>
                                <th data-field="item-sold">Item Sold</th>
                                <th data-field="total-profit">Total Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>USA</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>UK</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                    
                                <td>India</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>France</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Austrelia</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Russia</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chart dashboard end-->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!--card stats start-->
<div id="card-stats">
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content  green white-text">
                    <p class="card-stats-title"><i class="mdi-social-group-add"></i> New Clients</p>
                    <h4 class="card-stats-number">566</h4>
                    <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 15% <span class="green-text text-lighten-5">from yesterday</span>
                    </p>
                </div>
                <div class="card-action  green darken-2">
                    <div id="clients-bar" class="center-align"><canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content pink lighten-1 white-text">
                    <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> New Invoice</p>
                    <h4 class="card-stats-number">1806</h4>
                    <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-down"></i> 3% <span class="deep-purple-text text-lighten-5">from last month</span>
                    </p>
                </div>
                <div class="card-action  pink darken-2">
                    <div id="invoice-line" class="center-align"><canvas width="385" height="25" style="display: inline-block; width: 385px; height: 25px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content blue-grey white-text">
                    <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Today Profit</p>
                    <h4 class="card-stats-number">$806.52</h4>
                    <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 80% <span class="blue-grey-text text-lighten-5">from yesterday</span>
                    </p>
                </div>
                <div class="card-action blue-grey darken-2">
                    <div id="profit-tristate" class="center-align"><canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content purple white-text">
                    <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Total Sales</p>
                    <h4 class="card-stats-number">$8990.63</h4>
                    <p class="card-stats-compare"><i class="mdi-hardware-keyboard-arrow-up"></i> 70% <span class="purple-text text-lighten-5">last month</span>
                    </p>
                </div>
                <div class="card-action purple darken-2">
                    <div id="sales-compositebar" class="center-align"><canvas width="214" height="25" style="display: inline-block; width: 214px; height: 25px; vertical-align: top;"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--card stats end-->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!--card widgets start-->
<div id="card-widgets">
    <div class="row">

        <div class="col s12 m12 l4">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header cyan">
                    <h4 class="task-card-title">My Task</h4>
                    <p class="task-card-date">March 26, 2015</p>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task1">
                    <label for="task1" style="text-decoration: none;">Create Mobile App UI. <a href="#" class="secondary-content"><span class="ultra-small">Today</span></a>
                    </label>
                    <span class="task-cat teal">Mobile App</span>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task2">
                    <label for="task2" style="text-decoration: none;">Check the new API standerds. <a href="#" class="secondary-content"><span class="ultra-small">Monday</span></a>
                    </label>
                    <span class="task-cat purple">Web API</span>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task3" checked="checked">
                    <label for="task3" style="text-decoration: line-through;">Check the new Mockup of ABC. <a href="#" class="secondary-content"><span class="ultra-small">Wednesday</span></a>
                    </label>
                    <span class="task-cat pink">Mockup</span>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task4" checked="checked" disabled="disabled">
                    <label for="task4" style="text-decoration: line-through;">I did it !</label>
                    <span class="task-cat cyan">Mobile App</span>
                </li>
            </ul>
        </div>

        <div class="col s12 m6 l4">
            <div id="flight-card" class="card">
                <div class="card-header amber darken-2">
                    <div class="card-title">
                        <h4 class="flight-card-title">Flight</h4>
                        <p class="flight-card-date">June 18, Thu 04:50</p>
                    </div>
                </div>
                <div class="card-content-bg white-text">
                    <div class="card-content">
                        <div class="row flight-state-wrapper">
                            <div class="col s5 m5 l5 center-align">
                                <div class="flight-state">
                                    <h4 class="margin">LDN</h4>
                                    <p class="ultra-small">London</p>
                                </div>
                            </div>
                            <div class="col s2 m2 l2 center-align">
                                <i class="mdi-device-airplanemode-on flight-icon"></i>
                            </div>
                            <div class="col s5 m5 l5 center-align">
                                <div class="flight-state">
                                    <h4 class="margin">SFO</h4>
                                    <p class="ultra-small">San Francisco</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m6 l6 center-align">
                                <div class="flight-info">
                                    <p class="small"><span class="grey-text text-lighten-4">Depart:</span> 04.50</p>
                                    <p class="small"><span class="grey-text text-lighten-4">Flight:</span> IB 5786</p>
                                    <p class="small"><span class="grey-text text-lighten-4">Terminal:</span> B</p>
                                </div>
                            </div>
                            <div class="col s6 m6 l6 center-align flight-state-two">
                                <div class="flight-info">
                                    <p class="small"><span class="grey-text text-lighten-4">Arrive:</span> 08.50</p>
                                    <p class="small"><span class="grey-text text-lighten-4">Flight:</span> IB 5786</p>
                                    <p class="small"><span class="grey-text text-lighten-4">Terminal:</span> C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div id="profile-card" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/user-bg.jpg" alt="user background">
                </div>
                <div class="card-content">
                    <img src="images/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image">
                    <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                        <i class="mdi-action-account-circle"></i>
                    </a>

                    <span class="card-title activator grey-text text-darken-4">Roger Waters</span>
                    <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Project Manager</p>
                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>

                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this card.</p>
                    <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Project Manager</p>
                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 18th June 1990</p>
                    <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- blog card -->
        <div class="col s12 m12 l4">
            <div class="blog-card">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="images/gallary/30.jpg" alt="blog-img">
                </div>
                <ul class="card-action-buttons">
                    <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
                    </li>        
                    <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">
                    <p class="row">
                      <span class="left"><a href="">Web Design</a></span>
                      <span class="right">18th June, 2015</span>
                    </p>
                    <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Materialize Featured Blog Post Card</a>
                    </h4>
                    <div class="row">
                      <div class="col s2">
                        <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                      </div>
                      <div class="col s9"> By <a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this blog that is only revealed once clicked on.</p>
                </div>
            </div>
            </div>
        </div>

        <!-- product-card -->
        <div class="col s12 m12 l4">
            <div class="product-card">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>
                        <img src="images/gallary/33.jpg" alt="product-img">
                    </div>
                    <ul class="card-action-buttons">
                        <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                        </li>
                        <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                        </li>
                        <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                        </li>
                    </ul>
                    <div class="card-content">
                    
                        <div class="row">
                            <div class="col s8">
                                <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Featured Product of The Month</a>
                                </p>
                            </div>
                            <div class="col s4 no-padding">
                                <a href=""></a><img src="images/amazon.jpg" alt="amazon" class="responsive-img">
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- map-card -->
        <div class="col s12 m12 l4">
            <div class="map-card">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <div id="map-canvas" data-lat="40.747688" data-lng="-74.004142" class="" style="position: relative; overflow: hidden; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, -281, 1); will-change: transform;"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; position: absolute; left: 249px; top: -173px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 249px; top: 83px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 505px; top: -173px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 505px; top: 83px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 249px; top: -173px;"><canvas draggable="false" height="384" width="384" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 249px; top: 83px;"><canvas draggable="false" height="384" width="384" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 505px; top: -173px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 505px; top: 83px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="position: absolute; left: 249px; top: 83px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i301!3i385!4i256!2m3!1e0!2sm!3i363033097!3m14!2sko-KR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0!5m1!5f2&amp;token=66648" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 505px; top: 83px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i302!3i385!4i256!2m3!1e0!2sm!3i363033097!3m14!2sko-KR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0!5m1!5f2&amp;token=69738" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 249px; top: -173px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i301!3i384!4i256!2m3!1e0!2sm!3i363033145!3m14!2sko-KR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0!5m1!5f2&amp;token=108273" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 505px; top: -173px; transition: opacity 200ms ease-out;"><img src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i10!2i302!3i384!4i256!2m3!1e0!2sm!3i363033145!3m14!2sko-KR!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgyfHMuZTpnLmZ8cC52Om9ufHAuYzojZmZlMGVmZWYscy50OjJ8cy5lOmcuZnxwLnY6b258cC5oOiMxOTAwZmZ8cC5jOiNmZmMwZThlOCxzLnQ6M3xzLmU6Z3xwLmw6MTAwfHAudjpzaW1wbGlmaWVkLHMudDozfHMuZTpsfHAudjpvZmYscy50OjY1fHMuZTpnfHAudjpvbnxwLmw6NzAwLHMudDo2fHAuYzojZmY3ZGNkY2Q!4e0!5m1!5f2&amp;token=111363" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%; transition-duration: 0.3s; opacity: 0; display: none;" class="gm-style-pbc"><p class="gm-style-pbt">지도를 움직이려면 두 손가락을 사용하세요.</p></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, -281, 1);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=40.67,-73.94&amp;z=10&amp;t=m&amp;hl=ko-KR&amp;gl=US&amp;mapclient=apiv3" title="Google 지도에서 이 지역을 보려면 클릭하세요." style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 231px; height: 148px; position: absolute; left: 5px; top: 36px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">지도 데이터</div><div style="font-size: 13px;">지도 데이터 ©2016 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 65px; bottom: 0px; width: 171px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">지도 데이터</a><span>지도 데이터 ©2016 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">지도 데이터 ©2016 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/ko-KR_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">이용약관</a></div></div><div style="width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px; display: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Google에 도로 지도 또는 이미지 오류 신고" href="https://www.google.com/maps/@40.67,-73.94,10z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">지도 오류 신고</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; -webkit-user-select: none; position: absolute; bottom: 108px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="-webkit-user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);"><div title="확대" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div><div title="축소" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: -15px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="스트리트 뷰 페그맨 컨트롤" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5_hdpi.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="지도 위에 페그맨이 있음" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5_hdpi.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="스트리트 뷰 페그맨 컨트롤" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5_hdpi.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="지도 90도 회전" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; display: none; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div></div>
                    </div>
                    <div class="card-content">
                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                            <i class="mdi-maps-pin-drop"></i>
                        </a>
                        <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Company Name LLC</a>
                        </h4>
                        <p class="blog-post-content">Some more information about this company.</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Company Name LLC <i class="mdi-navigation-close right"></i></span>                   
                        <p>Here is some more information about this company. As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results.Some more information about this company.</p>
                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Manager Name</p>
                        <p><i class="mdi-communication-business cyan-text text-darken-2"></i> 125, ABC Street, New Yourk, USA</p>
                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> support@geekslabs.com</p>
                    </div>
                </div>
            </div>
        </div>

</div>
<!--card widgets end-->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!--work collections start-->
<div id="work-collections">
    <div class="row">
        <div class="col s12 m12 l6">
            <ul id="projects-collection" class="collection">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle light-blue darken-2"></i>
                    <span class="collection-header">Projects</span>
                    <p>Your Favorites</p>
                    <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <p class="collections-title">Web App</p>
                            <p class="collections-content">AEC Company</p>
                        </div>
                        <div class="col s3">
                            <span class="task-cat cyan">Development</span>
                        </div>
                        <div class="col s3">
                            <div id="project-line-1"><canvas width="186" height="30" style="display: inline-block; width: 186px; height: 30px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <p class="collections-title">Mobile App for Social</p>
                            <p class="collections-content">iSocial App</p>
                        </div>
                        <div class="col s3">
                            <span class="task-cat grey darken-3">UI/UX</span>
                        </div>
                        <div class="col s3">
                            <div id="project-line-2"><canvas width="186" height="30" style="display: inline-block; width: 186px; height: 30px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <p class="collections-title">Website</p>
                            <p class="collections-content">MediTab</p>
                        </div>
                        <div class="col s3">
                            <span class="task-cat teal">Marketing</span>
                        </div>
                        <div class="col s3">
                            <div id="project-line-3"><canvas width="186" height="30" style="display: inline-block; width: 186px; height: 30px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s6">
                            <p class="collections-title">AdWord campaign</p>
                            <p class="collections-content">True Line</p>
                        </div>
                        <div class="col s3">
                            <span class="task-cat green">SEO</span>
                        </div>
                        <div class="col s3">
                            <div id="project-line-4"><canvas width="186" height="30" style="display: inline-block; width: 186px; height: 30px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul id="issues-collection" class="collection">
                <li class="collection-item avatar">
                    <i class="mdi-action-bug-report circle red darken-2"></i>
                    <span class="collection-header">Issues</span>
                    <p>Assigned to you</p>
                    <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s7">
                            <p class="collections-title"><strong>#102</strong> Home Page</p>
                            <p class="collections-content">Web Project</p>
                        </div>
                        <div class="col s2">
                            <span class="task-cat pink accent-2">P1</span>
                        </div>
                        <div class="col s3">
                            <div class="progress">
                                 <div class="determinate" style="width: 70%"></div>   
                            </div>        
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s7">
                            <p class="collections-title"><strong>#108</strong> API Fix</p>
                            <p class="collections-content">API Project </p>
                        </div>
                        <div class="col s2">
                            <span class="task-cat yellow darken-4">P2</span>
                        </div>
                        <div class="col s3">
                            <div class="progress">
                                <div class="determinate" style="width: 40%"></div>   
                            </div>        
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s7">
                            <p class="collections-title"><strong>#205</strong> Profile page css</p>
                            <p class="collections-content">New Project </p>
                        </div>
                        <div class="col s2">        
                            <span class="task-cat light-green darken-3">P3</span>
                        </div>
                        <div class="col s3">
                            <div class="progress">
                                <div class="determinate" style="width: 95%"></div>   
                            </div>        
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s7">
                            <p class="collections-title"><strong>#188</strong> SAP Changes</p>
                            <p class="collections-content">SAP Project</p>
                        </div>
                        <div class="col s2">
                            <span class="task-cat pink accent-2">P1</span>
                        </div>
                        <div class="col s3">
                            <div class="progress">
                                 <div class="determinate" style="width: 10%"></div>   
                            </div>        
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--work collections end-->

<!-- Floating Action Button -->
<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
      <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
      <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
      <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
    </ul>
</div>
<!-- Floating Action Button -->