
<!--chart dashboard start-->
<div id="chart-dashboard">
    <div class="row">
        <div class="col s12 m8 l8">
            <div class="carousel carousel-slider">
                <a class="carousel-item" href="#one!"><img src="http://graphicdesigno.com/wp-content/uploads/What-is-Lorem-ipsum.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="http://graphicdesigno.com/wp-content/uploads/What-is-Lorem-ipsum.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="http://graphicdesigno.com/wp-content/uploads/What-is-Lorem-ipsum.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="http://graphicdesigno.com/wp-content/uploads/What-is-Lorem-ipsum.jpg"></a>
            </div>            
        </div>

        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-move-up teal waves-effect waves-block waves-light">
                    <div class="move-up">
                        <p class="margin white-text">Browser Stats</p>
                        <canvas id="trending-radar-chart" height="121" width="320" style="width: 285px; height: 108px;"></canvas>
                    </div>
                </div>
                <div class="card-content  teal darken-2">
                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                    <div class="line-chart-wrapper">
                        <p class="margin white-text">Revenue by country</p>
                        <canvas id="line-chart" height="109" width="288" style="width: 256px; height: 97px;"></canvas>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Revenue by country <i class="mdi-navigation-close right"></i></span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="country-name">Country Name</th>
                                <th data-field="item-sold">Item Sold</th>
                                <th data-field="total-profit">Total Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>USA</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>UK</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Canada</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                    
                                <td>India</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>France</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Austrelia</td>
                                <td>65</td>
                                <td>$452.55</td>
                            </tr>
                            <tr>
                                <td>Russia</td>
                                <td>76</td>
                                <td>$452.55</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--chart dashboard end-->

<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!--card widgets start-->
<div id="card-widgets">
    <div class="row">
        <!-- 오늘의 대외활동 -->
        <div class="col s12 m12 l4">
            <div class="blog-card">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://graphicdesigno.com/wp-content/uploads/What-is-Lorem-ipsum.jpg" alt="blog-img">
                </div>
                <ul class="card-action-buttons">
                    <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
                    </li>        
                    <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">
                    <p class="row">
                      <span class="left"><a href="">Web Design</a></span>
                      <span class="right">18th June, 2015</span>
                    </p>
                    <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">오늘의 추천대외활동</a>
                    </h4>
                    <div class="row">
                      <div class="col s2">
                        <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                      </div>
                      <div class="col s9"> By <a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this blog that is only revealed once clicked on.</p>
                </div>
            </div>
            </div>
        </div>

        <!-- 오늘의 인터뷰 -->
        <div class="col s12 m12 l4">
            <div class="blog-card">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="http://graphicdesigno.com/wp-content/uploads/What-is-Lorem-ipsum.jpg" alt="blog-img">
                </div>
                <ul class="card-action-buttons">
                    <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-social-share"></i></a>
                    </li>        
                    <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                    </li>
                </ul>
                <div class="card-content">
                    <p class="row">
                      <span class="left"><a href="">Web Design</a></span>
                      <span class="right">18th June, 2015</span>
                    </p>
                    <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">오늘의 추천인터뷰</a>
                    </h4>
                    <div class="row">
                      <div class="col s2">
                        <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                      </div>
                      <div class="col s9"> By <a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                    <p>Here is some more information about this blog that is only revealed once clicked on.</p>
                </div>
            </div>
            </div>
        </div>

        <!-- my Tasks -->
        <div class="col s12 m12 l4">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header cyan">
                    <h4 class="task-card-title">My Task</h4>
                    <p class="task-card-date">March 26, 2015</p>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task1">
                    <label for="task1" style="text-decoration: none;">Create Mobile App UI. <a href="#" class="secondary-content"><span class="ultra-small">Today</span></a>
                    </label>
                    <span class="task-cat teal">Mobile App</span>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task2">
                    <label for="task2" style="text-decoration: none;">Check the new API standerds. <a href="#" class="secondary-content"><span class="ultra-small">Monday</span></a>
                    </label>
                    <span class="task-cat purple">Web API</span>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task3" checked="checked">
                    <label for="task3" style="text-decoration: line-through;">Check the new Mockup of ABC. <a href="#" class="secondary-content"><span class="ultra-small">Wednesday</span></a>
                    </label>
                    <span class="task-cat pink">Mockup</span>
                </li>
                <li class="collection-item dismissable" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <input type="checkbox" id="task4" checked="checked" disabled="disabled">
                    <label for="task4" style="text-decoration: line-through;">I did it !</label>
                    <span class="task-cat cyan">Mobile App</span>
                </li>
            </ul>
        </div>

</div>
<!--card widgets end-->

<!-- //////////////////////////////////////////////////////////////////////////// -->


<!-- Floating Action Button -->
<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a class="btn-floating btn-large">
      <i class="mdi-action-stars"></i>
    </a>
    <ul>
      <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
      <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
      <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
      <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
    </ul>
</div>
<!-- Floating Action Button -->

<script>
    $('.carousel.carousel-slider').carousel({full_width: true});
</script>