<!DOCTYPE html>
<html>
  <body>
    
    
    
    <div class="row">
     
      <!--이미지 슬라이드: stufit 소개이미지-->
      <div class="col s7">
         <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="minion.jpg"></a>
          <a class="carousel-item" href="#two!"><img src="comeonbabe.JPG"></a>
          <a class="carousel-item" href="#four!"><img src="minion.jpg"></a>
          <a class="carousel-item" href="#five!"><img src="comeonbabe.JPG"></a>
         </div>
          <script>
                 $(document).ready(function(){
              $('.carousel').carousel({
                    dist:0,
                    shift:0,
                    padding:20,
              });
            });
          </script>    
      </div>
      
       <!--캘린더-->
            <div class="col s5">
              <div id='calendar'></div>
                
            </div> 
            
            <script>
             $(document).ready(function(){
               $('#calendar').empty();
               $('#calendar').fullCalendar(
                  {
                    eventSources: [
              
                      // your schedule source
                      {
                          url: '/schedules.json',// use the `url` property
                          color: 'yellow',    // an option!
                          textColor: 'green'  // an option!
                      }
                      ]
                           // schedules: '/schedules.json'
                            // put your options and callbacks here
                        });   
             });
            </script>            
    </div>   
  </body>
</html>