<h5>새 글쓰기</h5></br>

<%= form_for @event, multipart: true do |d| %>
  <%= render partial: 'form', locals: { :f => d} %>
<% end %>
<script>
    $(document).ready(function() {
    $('select').material_select();
});
</script>
