<!DOCTYPE html>
<html>
  <head>
    <style>

    </style>
  </head>
  <body>

    <%= form_for @major_story do |f| %>
      <%= render partial: 'form', locals: { :f => f } %>
    <% end %>
    
  </body>
</html>