
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">언니오빠가 알려주는 전공이야기<br><br></h1>
            </div>
        </div>
        <!-- /.row -->
        <%= image_tag 'https://lh3.googleusercontent.com/H40268xH2EF1AgWTQd654oMiy6xPoUAEKzZMJkzrUQFYoWyckciyEjbui-o5npMwQ9z_=w300' %><br>
        <%= link_to 'SNU', '//www.snu.ac.kr'  %>



        <!-- Projects Row -->
        <div class="row">
            <div class="col s4 portfolio-item">
                <a href="//www.snu.ac.kr">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/H40268xH2EF1AgWTQd654oMiy6xPoUAEKzZMJkzrUQFYoWyckciyEjbui-o5npMwQ9z_=w300" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">서울대학교 전기정보공학부</a>
                </h5>
                <p>서울대학교 전기정보공학부 3학년<br>'실타래' 이재성</p>
            </div>
            <div class="col s4 portfolio-item">
                <a href="//www.dongguk.edu">
                    <img class="img-responsive" src="http://daehakin.com/files/attach/images/4682/322/005/926e16d82d3b23767b7eb8f99f0b9793.jpg" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">동국대학교 정보통신공학과</a>
                </h5>
                <p>동국대학교 정보통신공학과 3학년<br>'성공한 날라리' 김OO</p>
            </div>
            <div class="col s4 portfolio-item">
                <a href="//www.sookmyung.ac.kr">
                    <img class="img-responsive" src="http://daehakin.com/files/attach/images/4682/772/004/efad9963b2afcb78eb517face1ac5fae.jpg" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">숙명여자대학교 독어독문학과</a>
                </h5>
                <p>숙명여자대학교 독어독문학과 4학년<br>'OOO' 김소정</p>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col s4 portfolio-item">
                <a href="//www.wku.ac.kr">
                    <img class="img-responsive" src="http://cfile6.uf.tistory.com/image/237D793356122E33289F5E" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">원광대학교 치의학과</a>
                </h5>
                <p>원광대학교 치의학과(본과) 3학년 <br>'OOO' 서한빈</p>
            </div>
            <div class="col s4 portfolio-item">
                <a href="//www.naver.com">
                    <img class="img-responsive" src="http://cfile6.uf.tistory.com/image/237D793356122E33289F5E" alt="인터뷰 보러가기"  height="300">
                </a>
                <h5>
                    <a href="#">원광대학교 한의학과</a>
                </h5>
                <p>원광대학교 한의학과(본과) 3학년<br>'OOO' 한동재</p>
            </div>
            <div class="col s4 portfolio-item">
                <a href="//www.naver.com">
                    <img class="img-responsive" src="http://cfile6.uf.tistory.com/image/237D793356122E33289F5E" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">원광대학교 소방행정학과</a>
                </h5>
                <p>원광대학교 소방행정학과 1학년<br>'OOO' 김세현</p>
            </div>
        </div>

        <br><br><br>

        <div class="row">
            <div class="col s4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://lh3.googleusercontent.com/H40268xH2EF1AgWTQd654oMiy6xPoUAEKzZMJkzrUQFYoWyckciyEjbui-o5npMwQ9z_=w300" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">서울대학교 전기정보공학부</a>
                </h5>
                <p>서울대학교 전기정보공학부 3학년<br>'실타래' 이재성</p>
            </div>
            <div class="col s4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://daehakin.com/files/attach/images/4682/322/005/926e16d82d3b23767b7eb8f99f0b9793.jpg" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">동국대학교 정보통신공학과</a>
                </h5>
                <p>동국대학교 정보통신공학과 3학년<br>'성공한 날라리' 김OO</p>
            </div>
            <div class="col s4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://daehakin.com/files/attach/images/4682/772/004/efad9963b2afcb78eb517face1ac5fae.jpg" alt="인터뷰 보러가기" height="300">
                </a>
                <h5>
                    <a href="#">숙명여자대학교 독어독문학과</a>
                </h5>
                <p>숙명여자대학교 독어독문학과 4학년<br>'OOO' 김소정</p>
            </div>
        </div>


        <br><br><br><br><br>

        <a href = "#">

        <div class="row">
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="https://lh3.googleusercontent.com/H40268xH2EF1AgWTQd654oMiy6xPoUAEKzZMJkzrUQFYoWyckciyEjbui-o5npMwQ9z_=w300">
              <span class="card-title">서울대학교 전기정보공학부</span>
            </div>
            <div class="card-content">
              <p>서울대학교 전기정보공학부 3학년<br>'실타래' 이재성</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>

    </a>




        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-md-12">

                    <p>Copyright &copy; stufit</p>

                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
