<!DOCTYPE html>
<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h1>전공인터뷰 입력</h1>
    
    <%= render 'form' %>
    <br>
    <%= link_to '목록으로', major_stories_path, class:"jaybutton z-depth-1 hoverable" %>
  </body>
</html>