<p>main</p>

<% @mains.each do |main|%>
<div>
    <%= image_tag "#{main.image1}" %>
</div>
<br>
<div>
    <%= image_tag "#{main.image2}" %>
</div>
<br>
<div>
    <%= image_tag "#{main.image3}" %>
</div>
<%end%>