/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material-design-lite/material.min
 *= require material-design-lite/styles
 *= require_self
 *= require fullcalendar
 */

#main_tab{
  margin: 15px;
}

/*달력관련디자인 시작*/
  .fc-day-header{
       color: black;
  }
  
  .fc-left h2{
    font-size: 30px;

  }

/*달력관련디자인 끝*/


/*버튼 디자인 시작*/
.btn-flat{
  font-size: 12px;
  background-color: #d7ccc8;
}
/*버튼 디자인 끝*/
.pagination a li.active {
  color: #b2b2b2;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.empty_star {
  color: rgba(0, 0, 0, 0.3) 
}

.pull_star{
  color: yellow
}
#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
    }

