// Place all the styles related to the major_stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

table, div, p {
    font-family:'Nanum Gothic';
    font-size: 103%;
    letter-spacing:-2px;
    text-align: justify;
    color: #424242;
    
}
