<div class="row" style="margin-top: 100px">
<%= form_for @activity do |a| %>
<%= render partial: 'form', locals: { :f => a} %>
<% end %>
</div>

<script>
    $(document).ready(function() {
    $('select').material_select();
});
</script>
