<div class="row" style="margin-top: 100px">
<%= form_for @activity, multipart: true do |a| %>
<%= render partial: 'form', locals: { :f => a} %>
<% end %>

<script>
    $(document).ready(function() {
    $('select').material_select();
});
</script>
<<<<<<< HEAD
=======
</div>
>>>>>>> 5844165148beaafb47f41a38d8b4dbbcb16a8c10
