<head>
    <style>
        table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table td.absorbing-column {
    width: 100%;
}

    </style>
</head>

<div class="row">
<%= form_for @activity, multipart: true do |a| %>
<%= render partial: 'form', locals: { :f => a} %>
<% end %>
<br>
<%= link_to '목록으로', activities_path, class:"btn waves-effect waves-light" %>

<script>
    $(document).ready(function() {
    $('select').material_select();
});
</script>
</div>