<div class="fixed-action-btn" style="bottom: 50px; right: 19px; ">
  <a class="btn-floating btn-large" style="font-size:60px">
    <i class="mdi-action-stars" style="font-size:56px"></i>
  </a>
  <ul>
    <!-- icon list
    <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
    <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
    <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
    <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
    -->
      <li class="bold"><a href="/activities" title="활동내역" class="btn-floating blue btn-large" >
        <i class="large mdi-device-now-widgets "></i>활동내역</a>
      </li>
      
      <li class="bold"><a href="/universities" title="대학알리Go" class="btn-floating red btn-large">
        <i class="material-icons" >&#xE80C;</i> 대학알리Go</a>
      </li>
      <li class="bold"><a href="/major_stories" title="전공알리Go" class="btn-floating yellow darken-1 btn-large" >
        <i class="material-icons" >&#xE150;</i> 전공알리Go</a>
      </li>
      <li class="bold"><a href="/events" title="대외알리Go" class="btn-floating green btn-large" >
        <i class="material-icons" >&#xE916;</i> 대외알리Go</a>
      </li>

  </ul>
</div>