<footer class="page-footer" style="background-color:#64b5f6;">
<div class="footer-copyright">
  <div class="container">
    <span class="right">Copyright © 2016 <a class="grey-text text-lighten-4">STU-FIT</a> All rights reserved.</span>
  </div>
</div>
</footer>

