<header id="header" class="page-topbar">
<!-- start header nav-->
<div class="navbar-fixed">
  <nav class="navbar-color">
  <div class="nav-wrapper">
    <ul class="left">
      <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><%= image_tag "http://i.imgur.com/7zcMGFF.png", alt: "materialize logo" %></a><span class="logo-text">Materialize</span></h1></li>
    </ul>
    <div class="header-search-wrapper hide-on-med-and-down">
      <i class="mdi-action-search"></i>
      <%= form_tag '/search', :method => :get do %>
          <%= text_field_tag :search, params[:search], class: 'header-search-input z-depth-2'%>
      <% end %>      
    </div>
    <ul class="right hide-on-med-and-down">
      <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
      </li>
      </a>
      </li>                        
      <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
      </li>
    </ul>
   
    <!-- notifications-dropdown 우측상단제거 -->
    
  </div>
  </nav>
</div>
<!-- end header nav-->
</header>

